body {
    background:url(../images/bg.jpeg) no-repeat 50% 0
}
table.table {
    background:rgba(255,255,255,0.6)
}
table.table td {
    color:#666;
}
h1 {
    padding:15px 0; color:#285e8e; font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-tabs>li.active>a:focus {
    background:rgba(255,255,255,0.6)
}
.nav-tabs>li.active>a {
    background:rgba(255,255,255,0.6)
}
