img {
    display:block; background: url(../images/bg.loading.1.gif) no-repeat 50% 50%;
}
DIV.g-arr-prev {
    position:absolute; TOP: 50%; LEFT: 0px; Z-INDEX: 2;  WIDTH: 40px; HEIGHT: 40px; BACKGROUND: url(../images/index-v3/bg.arr.middle.gif) no-repeat; margin-top:-20px; LEFT: 0px; CURSOR: pointer; OPACITY: 0.3; filter: alpha(opacity=30); display:none
}
DIV.g-arr-prev:hover {
    OPACITY: 0.8; filter: alpha(opacity=80)
}
DIV.g-arr-next {
    position:absolute; TOP: 50%; RIGHT: 0px; Z-INDEX: 2; WIDTH: 40px; HEIGHT: 40px; BACKGROUND: url(../images/index-v3/bg.arr.middle.gif) -40px 0 no-repeat; margin-top: -20px; CURSOR: pointer; OPACITY: 0.3; filter: alpha(opacity=30); display:none
}
DIV.g-arr-next:hover {
    OPACITY: 0.8; filter: alpha(opacity=80)
}
.g-arr-next-small {
    display:block; float:left; width:15px; height:16px; background:url(../images/otuan/statics/middleimg.png) no-repeat -182px -328px; cursor:pointer
}
.g-arr-prev-small {
    display:block; float:left; width:15px; height:16px; background:url(../images/otuan/statics/middleimg.png) no-repeat -164px -328px; cursor:pointer
}

.g-site-nav {
    width:100%; background:#f6f6f6; height:32px; border-bottom:1px solid #d9d9d7; position:relative; z-index:5
}
.g-container-1190 {
    width: 1190px; margin:auto
}
.g-family {
    width:68px; height:20px; float:left; border:1px solid #b0b0b0; font-weight:normal; line-height:20px; color:#74828d; padding-left:52px; background:#fff url(../images/common/bg.site.nav.png) no-repeat -3px -6px; margin-top:5px; box-shadow: 1px 1px 0 rgba(0,0,0,0.1); cursor:pointer
}
.g-family b {
    font-size:18px; margin-left:4px; color:#b5b5b5; vertical-align:-3px
}
.g-welcome {
    line-height:32px; font-family: 'Verdana','SimSun'; color:#505966; margin-left:19px; margin-right:14px; float:left;
}
.g-normal {
    padding:0 3px; color:#505966; float:left; line-height:32px;
}
.g-normal a{
    color:#505966
}
.g-divide {
    color:#dbdbdb; float:left; margin-right:3px; line-height:32px;
}
.g-divide-r {
    color:#dbdbdb; float:right; margin-left:3px; line-height:32px;
}
.g-area {
    float:left; margin-left:4px; position:relative; margin-top:3px; z-index: 2;
}
.g-area dl dt {
    position: absolute; z-index: 2; width: 113px; height: 22px; border: 1px solid #f6f6f6; background-color: #f6f6f6; padding-top:4px; padding-left:5px
}
.g-area dl dt s {
    position: absolute; bottom: -6px; left: 0; width: 119px; height: 6px; background: #fff; display:none; z-index: 3;
}
.g-area dl dt span.change {
    color:#505966; cursor:pointer; margin-left:4px; user-select:none; -ms-user-select:none; -webkit-user-select:none; -moz-user-select:none;
}
.g-area dl dt span.change:hover {
    color:#239cdc; text-decoration:underline
}
.g-area dl dd {
    display:none
}
.g-area dl dd .g-location-choose {
    position:absolute; top:26px; border:1px solid #d9d9d9; background-color:#fff; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12); z-index: 1;
}
.g-area dl dd .g-location-choose ul {
    overflow:hidden; height:auto; padding:0 9px; *width:185px
}
.g-area dl dd .g-location-choose ul li {
    height:29px; width:185px; border-top:1px dotted #d1d1d1; margin-top:-1px; line-height:29px; color:#505966
}
.g-area dl dd .g-location-choose ul li b {
    font-weight:normal; padding:0 5px 0 3px; width:7px; display:inline-block
}
.g-area dl dd .g-location-choose ul li span {
    padding:0 9px; word-break:keep-all; white-space:nowrap; cursor:pointer
}
.g-area dl dd .g-location-choose ul li span:hover {
    text-decoration:underline; color:#239cdc
}
.g-area dl dd .g-location-choose ul li span.cur {
    color:#fff; background:#239cdc; padding:3px 9px
}
.g-area dl dd .g-location-choose p {
    margin:0; padding:15px 0; text-indent:13px; border-top:1px solid #d9d9d9; *width:198px
}
.g-area dl dd .g-location-choose p a {
    color:#505966
}
.g-area dl dd .g-location-choose p a:hover {
    color:#239cdc
}
.g-area dl.hover dt {
    border: 1px solid #d9d9d9; background-color:#fff; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12);
}
.g-area dl.hover s {
    display:block
}
.g-area dl.hover dd {
    display:block
}
.g-location {
    color:#b7bbc0; font-size:16px; vertical-align:-2px
}
.g-cur-area {
    font-weight:bold; color:#505966
}
.g-weixin {
    float:right; margin-left:1px; position:relative; margin-top:3px; z-index: 3; color:#505966
}
.g-weixin dl dt {
    position: absolute; z-index: 2; width: 56px; height: 21px; border: 1px solid #f6f6f6; background-color: #f6f6f6; padding-top:5px; padding-left:12px
}
.g-weixin dl dt span.icon-weixin {
    display:inline-block; width:13px; height:16px; background:url(../images/common/bg.site.nav.png) -9px -511px no-repeat; margin-right:4px; vertical-align:-5px
}
.g-weixin dl dt b {
    font-weight:normal
}
.g-weixin dt s {
    position: absolute; bottom: -6px; left: -1px; width: 69px; height: 6px; background: #fff; display:none; z-index: 3;
}
.g-weixin dl dd {
    display:none
}
.g-weixin dl dd img {
    width:222px; height:222px; display:block; padding:13px
}
.g-weixin dl dd .g-weixin-pic {
    position:absolute; right:-70px; top:26px; border:1px solid #d9d9d9; background-color:#fff; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12); z-index: 1; width:248px; height:248px;
}
.g-weixin dl:hover dt {
    border: 1px solid #d9d9d9; background-color:#fff; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12);
}
.g-weixin dl:hover s {
    display:block
}
.g-weixin dl:hover dd {
    display:block
}
.g-phone {
    line-height:32px; margin-left:10px; margin-right:10px; float:right; color:#505966
}
.g-phone .icon-mobile2 {
    color:#b7bbc0; font-size:14px; vertical-align:-2px; margin-right:4px
}
.g-phone a {
    color:#505966;
}
.g-guest-center {
    padding:0 5px; float:right; line-height:32px;
}
.g-guest-center a {
    color:#505966;
}
.g-myocj {
    float:right; height:26px; width:100px; margin-left:1px; position:relative; margin-top:3px; z-index: 2; color:#505966
}
.g-myocj dl dt {
    position: absolute; z-index: 2; width: 98px; height: 21px; border: 1px solid #f6f6f6; background-color: #f6f6f6; padding-top:5px;
}
.g-myocj dl dt span.icon-user {
    color:#b7bbc0; font-size:14px; vertical-align:-2px; margin-left:8px; *margin-right:3px
}
.g-myocj dl dt b {
    font-weight:normal
}
.g-myocj dl dt b a {
    color:#505966
}
.g-myocj dl dt span.icon-arr {
    font-size:14px; vertical-align:-2px; color:#b5b5b5;
}
.g-myocj dt s {
    position: absolute; bottom: -6px; left: 0; width: 98px; height: 6px; background: #fff; display:none; z-index: 3;
}
.g-myocj dl dd {
    display:none
}
.g-myocj dl dd .g-myocj-more {
    position:absolute; left:0; top:26px; border:1px solid #d9d9d9; background-color:#fff; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12); z-index: 1; width:98px; height:133px;
}
.g-myocj dl dd .g-myocj-more ul {
    width:98px; height:auto
}
.g-myocj dl dd .g-myocj-more ul li {
    height:25px; line-height:25px; width:100%; text-align:center
}
.g-myocj dl dd .g-myocj-more ul li a {
    color:#505966;
}
.g-myocj dl dd .g-myocj-more ul li a:hover {
    color:#239cdc;
}
.g-myocj dl.hover dt {
    border: 1px solid #d9d9d9; background-color:#fff; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12);
}
.g-myocj dl.hover s {
    display:block
}
.g-myocj dl.hover dd {
    display:block
}


/*ocj family & banner start*/
.g-header-logos-box {
    height:0; width:100%; background:#fff
}
.g-header-logos {
    text-align:center; height:80px; border-bottom:1px solid #d9d9d9; top:-81px; position:relative; z-index: 1
}
.g-header-logos a:hover {
    color: #fff; text-decoration: none;
}
.g-header-logos img {
    width:135px; height:80px; display:inline-block
}
.g-header-banner {
    background:url(../images/common/bg.header.banner.gif) 50% 0 repeat-y; height:80px; text-align:center; border-bottom:1px solid #d9d9d9; position:relative
}
.g-header-banner .banner-box {
    position:relative; height:80px
}
.g-header-banner img {
    width:1190px; height:80px; position:absolute; top:0; left:50%; margin-left:-595px
}
.g-header-banner .close {
    position:absolute; right:0; top:23px; display:block; width:31px; height:31px; background:url(../images/common/bg.site.nav.png) -10px -33px no-repeat ;font-size:65px; cursor:pointer
}
/*ocj family & banner end*/

/*蓝色导航条 start*/
.g-header-menu {
    height:40px;
    width:100%;
    position:relative;
    z-index:3;
    background:#12a0eb;
    overflow:visible;
    background: -webkit-gradient(linear,center top,center bottom,from(#01a4fa),to(#239cdc));
    background:-moz-linear-gradient(center top -90deg,#01a4fa,#239cdc);
}
.g-header-menu a.g-header-tab {
    display:block; font-weight:bold; color:#fff; font-size:15px; float:left; height:40px; line-height:40px; position:relative; z-index:1; padding:0 26px; text-align:center; font-family: 'Microsoft YaHei';
}
.g-header-menu a.g-header-tab.g-global {
    z-index:2
}
.g-header-menu a.g-header-tab.cur {
    background:#006aa1;
}
.g-header-menu a.g-header-tab:hover {
    background:#006aa1; text-decoration:none
}
.g-header-menu a.g-all {
    width:190px; height:39px; padding:0; padding-top:1px;  cursor:pointer;
    user-select:none; -ms-user-select:none; -webkit-user-select:none; -moz-user-select:none;
}
.g-header-menu a.g-all b{
    font-size:25px; vertical-align:-5px
}
.g-header-menu a.g-all.cur {
    width:189px; background:#fff; color:#05a3f6; border-top:1px solid #bec2c7; height:39px; padding:0; border-left:1px solid #fff
}
.g-header-menu a.g-header-tab span {
    position:absolute; display:block; width:47px; height:19px; background:url(../images/common/bg.site.nav.png) -11px -113px no-repeat; color:#fff; text-alien:center; line-height:17px; font-size:11px; font-weight:normal; font-family:'PMingLiU'; top:-7px; right:-7px
}
/*蓝色导航条 end*/


/*头部中间主要部分 start*/
.g-header-main {
    background:#fff; height:118px;
}
.g-header-main .g-main-logo {
    display:block; float:left; width:153px; height:58px; padding:30px 18px
}
.g-logo-slider {
    width:210px;height:70px;overflow:hidden;position:relative; float:left; margin:24px 0 0 32px
}
.g-logo-slider .slider-item {
    display:block;width:210px;height:70px;position:absolute;
}
.g-search-box {
    width:490px; height:80px; padding:38px 0 0 41px; float:left
}
.g-search-box .search-bar {
    width:484px; height:34px; border:3px solid #239cdc
}
.g-search-box .search-bar input {
    float:left; width:407px; height:34px; line-height:34px; text-indent:8px; border:0; color:#9da6ab
}
.g-search-box .search-bar button {
    float:left; background:#239cdc; width:77px; height:34px; border:0; color:#fff; font-size:14px; line-height:32px; font-weight:bold; text-align:center; font-family: 'Microsoft YaHei'; cursor:pointer
}
.g-search-box .search-down {
    height:40px; width:490px;
}
.g-search-box .search-down ul.keywords {
    width:245px; height:28px; line-height:28px; float:left; overflow:hidden
}
.g-search-box .search-down ul.keywords li {
    float:left; margin-right:8px; margin-left:3px; line-height:28px; height:28px
}
.g-search-box .search-down ul.keywords li a {
    color:#505966
}
.g-search-box .search-down ul.keywords li.highlight a {
    color:#239cdc
}
.g-hotlist-title {
    float:left; font-weight:bold; color:#495164; font-weight:bold; height:28px; line-height:28px;
}
.g-hotlist {
    width:180px; height:28px; float:right;
}
.g-hotlist .g-hotlist-box {
    position:relative; z-index:4
}
.g-hotlist .g-hotlist-content {
    position:absolute; z-index:2; width:178px; height:22px; overflow:hidden; margin-top:0; background:#fff;
}
.g-hotlist .g-hotlist-content ul {
    position:relative; width:167px; height:203px; padding-left:10px; padding-top:5px
}
.g-hotlist .g-hotlist-content ul li {
    height:20px; overflow:hidden;
}
.g-hotlist .g-hotlist-content ul li b {
    display:inline-block; width:12px; height:12px; background:#fe434c; color:#fff; line-height:12px; font-size:12px; font-weight:normal; text-align:center; font-family:'Arial, Helvetica, sans-serif'; margin-right:4px; *font-size:11px
}
.g-hotlist .g-hotlist-content ul li a {
    display:inline-block; line-height:14px; color:#505966;
}
.g-hotlist .g-hotlist-content ul li a:hover {
    color:#239cdc
}
.g-hotlist .g-hotlist-content ul li s {
    float:right; color:#878d91; font-size:12px; line-height:14px; text-decoration: none; margin-right:4px
}
.g-header-mycart {
    float:left; margin-left:17px; position: relative; width:120px; height:40px; margin-top:38px; z-index:4
}
.g-header-mycart dl {

}
.g-header-mycart dt {
    position: absolute; z-index: 3; width: 120px; height: 40px; border: 1px solid #EFEFEF; background-color: #F7F7F7; cursor: pointer;
}
.g-header-mycart dt a {
    color:#505966; line-height:38px;
}
.g-header-mycart dt a:hover {
    color:#239cdc
}
.g-header-mycart dt span.icon-cart2 {
    color:#d0d0d0; font-size:22px; vertical-align:-7px; padding:0 9px 0 14px
}
.g-header-mycart dt span.icon-arr{
    color:#b5b5b5; font-size:18px; margin-left:5px; vertical-align:-4px;
}
.g-header-mycart dt .shopping {
    position: absolute; display:block; width:26px; height:24px; line-height:16px; top: -8px; left: 24px; background:url(../images/common/bg.site.nav.png) -9px -470px no-repeat;;  color: #fff; text-align:center
}
.g-header-mycart dd {
    position: absolute; top: 42px; right: -2px; width: 308px; background:#fff; display:none; -moz-box-shadow: 0 0 10px rgba(0,0,0,.12); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12); box-shadow: 0 0 10px rgba(0,0,0,.12); border:1px solid #d9d9d9
}
.g-header-mycart dd .empty {
    height:100px; display:none
}
.g-header-mycart dl.hover dt {
    height: 42px; border: 1px solid #d9d9d9; border-bottom: 0; background-color: #fff; -moz-box-shadow: 0 0 10px #DDD; -webkit-box-shadow: 0 0 10px #DDD; box-shadow: 0 0 10px #DDD;
}
.g-header-mycart dl.hover s {
    position: absolute; bottom: -10px; left: -1px; width: 120px; height: 10px; background: #fff;
}
.g-header-mycart dl.hover dd {
    display: block
}
.g-settleup-content {
    height:216px; width:285px; padding:13px 10px 9px 13px;

}
.g-settleup-content .product-content {
    height:186px; width:285px; position:relative
}
.g-settleup-content .product-content .list {
    position:absolute; height:150px; width:285px; display:none; opacity:0; filter:alpha(opacity=0); overflow:hidden
}
.g-settleup-content .product-content .list .product {
    height:70px; width:285px; border-bottom:1px dotted #b2b2b2; margin-bottom:10px; position:relative
}
.g-settleup-content .product-content .list .product a.pic {
    width:60px; height:60px; display:block; position:relative; float:left; margin-right:10px
}
.g-settleup-content .product-content .list .product a.pic img {
    width:60px; height:60px; position:absolute;
}
.g-settleup-content .product-content .list .product .fr {
    float:left
}
.g-settleup-content .product-content .list .product p {
    margin:0; padding:0
}
.g-settleup-content .product-content .list .product a.name {
    display:block; height:28px; width:210px; line-height:14px; overflow:hidden; color:#5c5f66;
}
.g-settleup-content .product-content .list .product a.name:hover {
    color:#239cdc
}
.g-settleup-content .product-content .list .product p.price {
    color:#ea0505;
}
.g-settleup-content .product-content .list .product p.price b{
    font-size:14px; margin-left:4px
}
.g-settleup-content .product-content .list .product p.price span {
    color:#5c5f66; margin-left:6px; font-weight:bold
}
.g-settleup-content .product-content .list .product p.type {
    color:#5c5f66;
}
.g-settleup-content .product-content .list .product span.del {
    position:absolute; bottom:8px; right:2px; color:#96989d; cursor:pointer; text-decoration:underline
}
.g-settleup-content .product-content .list .product span.del:hover {
    color:#239cdc
}
.g-settleup-content .product-content .divide-line {
    position:absolute; width:285px; height:1px; background:#dedcdb; top:151px; left:0
}
.g-settleup-content .product-content .pages {
    position:absolute; left:0; bottom:8px; width:63px; height:16px
}
.g-settleup-content .product-content .pages .page {
    float:left; margin:0 4px; padding:0; color:#7a706c
}
.g-settleup-content .product-content .pages .page span {
    color:#239cdc; font-weight:bold
}
.g-settleup-content .product-content .settlement {
    position:absolute; right:0; bottom:8px; color:#5c5f66
}
.g-settleup-content .product-content .settlement span {
    margin:0 3px; color:#ea0505;
}
.g-settleup-content .product-content .settlement b {
    font-size:16px; color:#ea0505
}
.g-settleup-content a.go-cart {
    display:block; float:right; width:98px; height:28px; line-height:28px; color:#505966; text-align:center; border:1px solid #c4c3c9; -moz-box-shadow: 0 1px 1px #ececec; -webkit-box-shadow: 0 1px 1px #ececec; box-shadow: 0 1px 1px #ececec; font-weight:bold; background:#fff
}

/*头部中间主要部分 end*/


.g-all-catalog {
    width:1173px; padding:0 0 0 15px; border:1px solid #d9d9d9; border-top:0; height:560px; background:#fff; position:absolute; top:40px; z-index:4; left:50%; margin-left:-595px; display:none
}
.g-all-catalog .list {
    width:180px; height:273px; float:left; margin-left:11px; overflow:hidden
}
.g-all-catalog .list h3 {
    color:#4d5558; line-height:32px; height:32px; padding-top:9px; width:180px; border-bottom:1px dotted #999999; font-family: 'Microsoft YaHei';
}
.g-all-catalog .list h3 a {
    color:#4d5558;
}
.g-all-catalog .list h3 a:hover {
    color:#309fd6; text-decoration:underline;
}
.g-all-catalog .list ul {
    width:200px; overflow:hidden; margin-left:-10px; padding:5px 0; max-height:144px; margin-bottom:3px
}
.g-all-catalog .list ul li {
    float:left; color:#505662; height:12px; line-height:12px; border-left:1px solid #535762; padding:0 11px 0 10px; margin:6px 0 6px -1px
}
.g-all-catalog .list ul li a {
    word-break:keep-all; white-space:nowrap; color:#535762
}
.g-all-catalog .list ul li a:hover {
    color:#309fd6; text-decoration:underline;
}
.g-all-catalog .list a.sale {
    color:#309fd6; line-height:20px; height:20px; display:block; width:176px
}
.g-all-catalog .list a.more {
    color:#535762; display:block; height:26px; margin:3px 0 0
}
.g-all-catalog .list a.more:hover {
    color:#309fd6
}
.g-all-catalog .list-last {
    height:180px
}
.g-all-catalog .list-last .logo {
    width:168px; height:38px; background:url(../images/common/bg.menu.three.logo.gif) no-repeat; border:1px solid #dedede; margin-bottom:5px; margin-left:5px
}
.g-all-catalog .list-last .logo a {
    display:block; width:100%; height:100%
}
.g-all-catalog .list-last .logo-1 {
    background-position:-1px -1px; margin-top:41px
}
.g-all-catalog .list-last .logo-2 {
    background-position:-1px -41px
}
.g-all-catalog .list-last .logo-3 {
    background-position:-1px -81px
}
.g-all-catalog span.close-menu {
    display:block; width:40px; height:40px; background:url(../images/common/bg.site.nav.png) -8px -140px no-repeat; margin:67px 0 0 178px; float:left; cursor:pointer; position:relative; top:1px; left:1px
}
.g-all-catalog span.close-menu:hover {
    background-position:-8px -188px
}
.g-header-tv-table {
    width:100%; height:80px; background:#f5f5f5; border-bottom:1px solid #bec2c7
}
.g-header-tv-table .banner {
    width:250px; height:80px; float:left
}
.g-header-tv-table .banner img {
    width:250px; height:80px
}

.g-live-box {
    width:505px; height:80px; float:left; position:relative; overflow:hidden; margin:0 45px 0 50px
}
.g-live-box .list {
    display: none; opacity: 0; filter: alpha(opacity=0); position:absolute; top:0; left:40px; background:#f5f5f5
}
.g-live-box .live {
    width:110px; height:71px; float:left; margin-left:17px; padding-top:9px
}
.g-live-box .icon-arrow-left9 {
    left:0
}
.g-live-box .icon-arrow-right9 {
    right:0
}
.g-live-box .arr {
    position:absolute; font-size:42px; color:#bfbfbf; top:21px; cursor:pointer
}
.g-live-box .arr:hover {
    color:#4c4c4c
}
.g-live-box .live h4 {
    width:72px; height:34px; background:url(../images/common/bg.site.nav.png) -8px -244px no-repeat;
}
.g-live-box .live p {
    font-size:24px; color:#cc270f; margin:0; padding:0
}
.g-live-box .tv-product {
    width:270px; height:70px; padding-top:10px; float:left; margin-left:41px
}
.g-live-box .tv-product a.pic {
    display:block; width:60px; height:60px; float:left; position:relative; margin-right:10px
}
.g-live-box .tv-product a.pic img {
    width:60px; height:60px; position:absolute; top:0; left:0
}
.g-live-box .tv-product h3 {
    font-weight:normal; color:#31363c; height:18px; line-height:16px; padding-left:20px; background:url(../images/common/bg.site.nav.png) -8px -300px no-repeat; float:left
}
.g-live-box .tv-product h3.two {
    background-position:-8px -337px;
}
.g-live-box .tv-product p.name {
    width:190px; line-height:16px; height:16px; overflow:hidden; padding:0; margin:6px 0 0 0; float:left; white-space: nowrap; text-overflow:ellipsis
}
.g-live-box .tv-product p.name a {
    color:#31363c
}
.g-live-box .tv-product p.name a:hover {
    color:#239cdc
}
.g-live-box .tv-product p.price {
    color:#ea0505; padding-top:2px; float:left; margin:0
}
.g-live-box .tv-product p.price b {
    font-size:14px
}

.g-header-tv-table .tv-table {
    width:97px; height:63px; border:1px solid #d0d6d9; float:left; border-radius:2px; overflow:hidden; margin:8px 0 0 25px; box-shadow:0 1px 0 rgba(100,100,100,0.1)
}
.g-header-tv-table .tv-table .g-header-time {
    height:36px; border-bottom:1px solid #d0d6d9; font-family:'Microsoft YaHei'
}
.g-header-tv-table .tv-table .g-header-time span {
    font-size:24px; line-height:36px; color:#4f4f4f; float:left; width:32px; text-align:center
}
.g-header-tv-table .tv-table .g-header-time span.mouth {
    border-right:1px solid #d0d6d9
}
.g-header-tv-table .tv-table .g-header-time b {
    color:#636363; font-weight:normal; line-height:30px
}
.g-header-tv-table .tv-table .icon-alarm2 {
    color:#bcbcbc
}
.g-header-tv-table .tv-table .tabs {
    background:#fff
}
.g-header-tv-table .tv-table .tabs span {
    font-family: 'Microsoft YaHei'; color:#636363; line-height:26px; float:left; text-align:center
}
.g-header-tv-table .tv-table .tabs span a {
    color:#636363;
}
.g-header-tv-table .tv-table .tabs span.table {
    width:50px;
}
.g-header-tv-table .tv-table .tabs b.icon-alarm2 {
    font-weight:normal; margin-right:3px; vertical-align:-1px
}
.g-header-tv-table .cell-phone {
    position:relative; width:57px; height:63px; float:left; border:1px solid #d0d6d9; float:left; border-radius:2px; margin:8px 0 0 15px; box-shadow:0 1px 0 rgba(100,100,100,0.1)
}
.g-header-tv-table .cell-phone span {
    position:absolute; width:54px; height:25px; background:url(../images/common/bg.site.nav.png) -9px -378px no-repeat; top:-8px; left:2px; color:#fff; font-size:11px; line-height:16px; font-family:'Microsoft YaHei'; text-align:center
}
.g-header-tv-table .cell-phone h4 {
    height:30px; width:57px; background:url(../images/common/bg.site.nav.png) -9px -423px no-repeat; margin-top:7px
}
.g-header-tv-table .cell-phone h4 a {
    display:block; width: 100%; height: 100%;
}
.g-header-tv-table .cell-phone a.pay {
    display:block; height:26px; line-height:26px; background:#fff; font-family: 'Microsoft YaHei'; color:#636363; text-align:center
}
.g-header-tv-table .logo {
    width:62px; height:51px; float:left; margin:14px 0 0 45px;
}
.g-header-tv-table .logo img {
    width:62px; height:51px
}
.g-side-bar {
    width:84px; position:absolute; top:363px; right:50%; margin-right:-690px
}
.g-side-bar.fixed {
    position:fixed; top:10px;
}
.g-side-bar .two-code {
    width:82px; height:82px; border:1px solid #c0c1c2; box-shadow:1px 2px 0 rgba(242,242,242,1);
}
.g-side-bar .two-code img {
    width:74px; height:74px; padding:4px
}
.g-side-bar .server {
    width:84px; height:100px; box-shadow:1px 2px 0 rgba(242,242,242,1); margin-top:6px
}
.g-side-bar .server .bird {
    width:82px; height:69px; border:1px solid #c0c1c2; border-bottom:0; background:#fff url(../images/common/bg.site.nav.png) 16px -539px no-repeat;
}
.g-side-bar .server .bird a {
    display:block; margin:46px 0 0 0; text-align:center; color:#7c828c
}
.g-side-bar .server .bird a:hover {
    color:#239CDC
}
.g-go-top {
    width:84px; height:30px; background:#4b4c50 url(../images/common/bg.site.nav.png) -1px -604px no-repeat; color:#fff; font-weight:bold; text-indent:23px; line-height:30px; cursor:pointer
}

.g-footer {
    margin-top:30px
}
.g-footer-menu {

}
.g-footer-fl-menu {
    border:1px solid #d9d9d9; float:left; width:838px
}
.g-footer-fl-menu .menu {
    width:838px; height:144px; padding-top:14px
}
.g-footer-fl-menu .menu .list{
    width:139px; float:left;
}
.g-footer-fl-menu .menu .list h4 {
    float:left; width:46px; height:40px; background:url(../images/index-v3/bg.footer.icons.png) 0 0 no-repeat; margin-left:10px
}
.g-footer-fl-menu .menu .list ul {
    float:right; width:83px
}
.g-footer-fl-menu .menu .list ul li {
    height:20px; line-height:20px;
}
.g-footer-fl-menu .menu .list ul li a {
    color:#6d7177
}
.g-footer-fl-menu .menu .list ul li a:hover {
    color:#239cdc
}
.g-footer-fl-menu .menu .list ul li.title {
    font-size:14px; font-family: 'Microsoft YaHei'; font-weight:bold; color:#505966; height:25px
}
.g-footer-fl-menu .menu .list h4.title-1 {
    background-position: 0 -160px
}
.g-footer-fl-menu .menu .list h4.title-2 {
    background-position: 0 -120px
}
.g-footer-fl-menu .menu .list h4.title-3 {
    background-position: 0 -40px
}
.g-footer-fl-menu .menu .list h4.title-4 {
    background-position: 0 -80px
}
.g-footer-fl-menu .menu .list h4.title-5 {
    background-position: 0 0
}
.g-footer-fl-menu .menu .list h4.title-6 {
    background-position: 0 -200px
}
.g-footer-fr-board {
    float:left; height:158px; width:338px; border:1px solid #d9d9d9; margin-left:10px
}
.g-footer-fr-board .notice {
    height:29px; color:#505966; line-height:29px
}
.g-footer-fr-board .notice h4 {
    float:left; font-family:'Microsoft YaHei'; font-size:14px; margin-left:13px
}
.g-footer-fr-board .notice .notice_box {
    height: 29px; overflow: hidden; float:left; width:212px; overflow:hidden; margin-left:10px
}
.g-footer-fr-board .notice .notice_box a {
    color:#505966; font-size:12px; display:block; height:29px; width:212px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis
}
.g-footer-fr-board .notice .more {
    float:left; margin-left:12px
}
.g-footer-fr-board .notice .more a {
    color:#505966
}
.g-social {
    width:174px; height:81px; border:3px solid #e8e8e8; color:#505966; float:left; margin-left:9px
}
.g-social h5 {
    font-family:'Microsoft YaHei'; margin-left:14px; line-height:18px; height:18px; padding:5px 0 2px
}
.g-social p {
    margin:0; padding: 0; line-height:16px; width:145px; margin-left:14px
}
.g-supply {
    height:26px; width:317px; background:#f8f8f8; border:1px solid #e8e8e8; margin:4px 0 0 9px
}
.g-supply a {
    display:block; width:158px; height:26px; line-height:26px; color:#505966; font-family: 'Microsoft YaHei'; text-indent: 46px; float:left
}
.g-supply a b {
    display: inline-block; vertical-align:1px; margin-left:38px; width: 0; height: 0; border-style: solid; border-width: 3px; border-color: transparent transparent transparent #000000; overflow: hidden; zoom: 1; font-size: 0
}
.g-chinese {
    float:left; margin-left:2px
}
.g-chinese img {
    width:137px; height:87px
}

.g-supply a.b-r-1 {
    border-right:1px solid #e8e8e8
}
.g-subscribe {
    margin-top:5px
}
.g-subscribe input {
    width:238px; height:25px; border:1px solid #bbbbbb; float:left; margin-left:9px; color:#9b9fa6; text-indent:8px; display:block; line-height:25px; box-shadow:inset 3px 3px 0 rgba(0,0,0,0.1)
}
.g-subscribe button {
    display:block; float:left; width:73px; height:27px; border:1px solid #bbbbbb; margin-left:6px; color:#505966; background:#fff; font-family: 'Microsoft YaHei'; font-weight:bold; box-shadow:inset 0 -3px 0 rgba(0,0,0,0.1) ;
}
.g-footer-icon {
    WIDTH: 100%; PADDING-BOTTOM: 50px; BORDER-TOP: #d9d9d9 1px solid
}
.g-footer-icon-content {
    WIDTH: 100%
}
.g-footer-icon-content-box {
    WIDTH: 1110px; MARGIN: auto; POSITION: relative
}
.g-footer-icon-content-box  UL {
    FLOAT: left; DISPLAY: inline; PADDING-TOP: 14px; PADDING-BOTTOM: 14px; padding-left: 19px;
}
.g-footer-icon-content-box  UL LI {
    FLOAT: left; DISPLAY: inline; MARGIN-RIGHT: 15px
}
.g-footer-content {
    border-top:3px solid #5c686e; height:90px; margin-top:10px; padding-top:20px
}
.g-footer-content .logo-cj {
    float:left; margin-right:30px; margin-left:40px
}
.g-footer-content p {
    float:left; margin:0; padding:0; color:#82888b; line-height:20px
}
.g-footer-content p.dark {
    color:#5c686e; margin-top:8px
}
.g-footer-content img {
    width:104px; height:40px
}
