<div class="comments muted" ng-show="pin.comments">
    <div class="comment convo clearfix" ng-repeat="co in pin.comments">
        <a ng-href="{{co.authorUrl}}" title="{{co.authorName}}" class="img x">
            <img ng-src="{{co.headUrl}}" class="avt">
        </a>
        <div class="content">
            <a ng-href="{{co.authorUrl}}" class="author">{{co.authorName}}</a>:&nbsp;<a class="text-meta meta-mention" ng-href="{{co.toUrl}}" ng-show="co.toUrl">@{{co.toWho}}</a>&nbsp;{{co.content}}
        </div>
        <a title="回复" class="replyButton" ng-click="comment($event,co.authorName)"></a>
    </div>
</div>


