<div>
  <a title="通知" class="nav-link" ng-click="toggleMenu($event)">
    <div class="nav-icon"></div>
    <div class="num ">{{num}}</div>
  </a>
  <div id="message_popup" ng-class="{show:ifnew}">
    <div class="bar">
      <div class="left barTitle" ng-class="{active:ifmsg}" ng-click="changeToMsg()">消息<span>{{msg.num}}</span></div>
      <div class="right barTitle" ng-class="{active:!ifmsg}" ng-click="changeToDt()">动态<span>{{dongtai.num}}</span></div>
    </div>
    <div id="boxer">
      <div class="box box-mentions" ng-class="{hidden:!ifmsg,loadingbox:!loaded}">
        <div class="item" ng-repeat="item in msg.items">
          <a ng-href="{{item.userlink}}" class="avt">
            <img width="75" height="75" ng-src="{{item.headsrc}}" alt=""/>
          </a>
          <div class="details">
            <div class="line">
              <a ng-href="{{item.userlink}}" class="brown-link">{{item.username}}</a>
              <span>评论了</span>
              <a ng-href="{{item.pinlink}}" class="brown-link">{{item.pinname}}</a>
            </div>
          </div>
          <a ng-href="{{item.pinlink}}" class="pin-link"><img ng-src="{{item.pinsrc}}" alt=""/></a>
        </div>
      </div>
      <div class="box box-activities" ng-class="{hidden:ifmsg,loadingbox:!loaded}">

        <div class="item" ng-repeat="item in dongtai.items">
          <a ng-href="{{item.userlink}}" class="avt">
            <img width="75" height="75" ng-src="{{item.headsrc}}">
          </a>
          <div class="details">
            <div class="line">
              <a ng-href="{{item.userlink}}" class="brown-link">{{item.username}}</a>
              <span>{{item.type1}}</span>
              <a ng-href="{{item.otheruserlink}}" class="brown-link">{{item.otherusername}}</a>
              <span>{{item.type2}}</span>
            </div>
            <div class="line">
              <span>{{item.type3}}</span>
              <a ng-href="{{item.pinlink}}" class="brown-link">{{item.pinname}}</a>
            </div>
          </div>
          <a ng-href="{{item.pinlink}}" class="pin-link" ng-show="item.pinsrc"><img ng-src="{{item.pinsrc}}"></a>
        </div>

      </div>
    </div>
    <a ng-href="{{all}}" class="show-all">查看所有{{what}}»</a>
    <div class="triangle"></div>
  </div>
</div>


