<div id="waterfall">
    <div user-main ng-controller="pUserCtrl"></div>

    <div ng-repeat="pin in pins" data-id="{{pin.id}}" data-seq="{{pin.id}}" data-source="{{pin.source}}" class="pin wfc" style="position: absolute; left: {{pin.left}}; top: {{pin.top}};">
        <div class="hidden"><a href="/a5635268/">{{pin.userName}}</a>采集到<a href="/boards/1002339">{{pin.board}}</a></div>
        <div class="actions">
            <div class="right">
                <a href="/pins/{{pin.id}}/edit/" class="edit btn btn14">
                    <span class="text">编辑</span>
                </a>
            </div>
            <div class="left">
                <a href="#" class="repin btn btn14 rbtn"><span class="text">采集</span></a>
            </div>
        </div>
        <a ng-href="/pins/{{id}}/" target="_self" rel="" class="img x layer-view loaded" ng-class="{long:pin.ifLong}">
            <div class="default-bg">{{source}}</div>
            <img ng-src="{{pin.picUrl}}" width="236" height="{{236*pin.height/pin.width}}px" alt="{{pin.userName}}采集到{{pin.board}}">
            <span ng-show="pin.ifLong" class="stop"></span>
            <div class="cover"></div>
            <div class="gif-icon" ng-class="{'gif-stop':pin.ifGifStop}" ng-show="pin.ifGif" ng-click="toggleGif($event,$index)"></div>
        </a>
        <p class="description">{{pin.description}}</p>
        <p class="stats less">
            <span title="转采" class="repin" ng-show="{{pin.repin}}"><i></i>{{pin.repin}}</span>
            <span title="喜欢" class="like" ng-show="{{pin.like}}"><i></i>{{pin.like}}</span>
        </p>
        <div class="convo attribution clearfix">
            <p class="NoImage">
                <a ng-href="http://huaban.com/from/{{pin.source}}" class="x">{{pin.source}}</a>
                <a title="评论" class="replyButton" ng-click="comment($event)"></a>
            </p>
        </div>

        <div comments></div>

        <div comment></div>

    </div>

</div>

