<div class="info-piece piece">
    <div class="info">
        <a href="http://www.huaban.com/{{userID}}/" title="{{userName}}" rel="nofollow" class="img x">
            <img ng-src="{{userAvt}}" class="avt">
        </a>

        <div class="main">
            <a href="http://www.huaban.com/{{userID}}/" rel="nofollow">{{userName}}</a>
            <span class="space">从</span>
            <a ng-href="http://www.huaban.com/{{fromUrl}}/" rel="nofollow">{{from}}</a>
        </div>
        <div class="sub">转采于<span data-ts="{{time}}" class="ts-words space">{{time*1000 | date : 'yyyy-MM-dd HH:mm:ss'}}</span></div>
    </div>
    <div class="description">{{description}}</div>
    <div class="comments">
        <div data-id="{{com.id}}" class="comment" ng-repeat="com in comments">
            <a href="http://www.huaban.com/{{com.userID}}/" title="{{com.userName}}" class="img x">
                <img ng-src="{{com.avt}}" class="avatar">
            </a>

            <div class="meta">
                <a href="http://www.huaban.com/{{com.userID}}/" class="author">{{com.userName}}</a>&nbsp;-&nbsp;<span data-ts="{{com.time}}" class="ts-words">{{com.time | toCurTime}}</span>说：
            </div>
            <div class="text">{{com.content}}</div>
            <div class="action-buttons">
                <a data-name="{{com.userName}}" title="回复" class="reply-button"></a>
                <a data-url="/pins/304362199/comments/{{com.id}}/" title="删除" class="delete"></a>
            </div>
        </div>
    </div>
    <div id="pin_view_add_comment" data-id="{{id}}" class="clearfix" info-piece-comment>
        <a href="http://www.huaban.com/{{userID}}/" title="{{userName}}" class="img x">
            <img ng-src="{{userAvt}}" class="avatar">
        </a>
        <textarea name="caption" placeholder="添加评论或把采集@给好友" class="clear-input" ng-focus="getFocus($event)" ng-model="comContent" required></textarea>
        <a href="#" ng-show = "ifShowBtn" class="post disabled btn btn14" ng-class="{disabled:!comContent.length}" >
            <span class="text"> 添加评论</span>
        </a>
    </div>
    <div class="likes clearfix">
        <h4>{{like.length}}喜欢</h4>
        <a ng-repeat="_like in like" ng-href="http://www.huaban.com/{{_like.domain}}/" title="{{_like.title}}" class="img x">
            <img width="46" height="46" ng-src="{{_like.avt}}">
        </a>
    </div>
</div>
