html,body,h1,h2,h3,h4,h5,h6,div,ul,ol,li,dl,dt,dd,iframe,textarea,input,button,p,strong,b,i,a,span,del,pre,table,tr,th,td,form,fieldset,.pr,.pc{margin:0; padding:0; word-wrap: break-word; font-family:"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei", "΢���ź�", tahoma, arial, simsun, "����";}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc,em,del{font-style:normal; font-size:100%;}
ul,ol,dl{list-style:none;}
body {background:url(http://img.hb.aicdn.com/3be7fb4527343816a2ec5b51754f8e5ae6b579242c43-R23a31_fw580)}
h3 { text-align:center; font-size:30px; color:#B2A789; font-weight:normal; text-shadow:0 1px 0 #fff; margin:40px 0 20px}
h4 { text-align:center; font-size:16px; color:#B2A789; font-weight:normal; text-shadow:0 1px 0 #fff}
h4 a { color:#B2A789; text-decoration:none }
h4 a:hover { text-decoration:underline}